# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.LisergyServer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gabri\source\repos\Lisergy\LisergyServer\.idea\.idea.LisergyServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
