name: ServerTests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-server-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./LisergyServer
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
